<div class="leftside ml-3">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/dashboard/feedback" class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="Hooray!">
          Give Feedback
        </a>
      </li>
      <li class="nav-item btn-hover">
        <a routerLink="/dashboard/add_intern" class="nav-link" routerLinkActive="active">
          Add Interns
        </a>
      </li>
      <li class="nav-item btn-hover">
        <a routerLink="/dashboard/add_project" class="nav-link" routerLinkActive="active">
          Add Projects
        </a>
      </li>
      <li class="nav-item btn-hover">
        <a routerLink="/dashboard/resume" class="nav-link" routerLinkActive="active">
          Build resume
        </a>
      </li>
    </ul>
  </div>
</div>