<!-- <div *ngIf="!loginPage"> -->
    <!-- <div *ngIf="!loginPage">
        <app-top-nav></app-top-nav>
    </div>
    <div class="row">
        <div *ngIf="!loginPage"  class="col-lg-2 h-100 no-gutters row background">
            <app-side-nav></app-side-nav>
        </div>
        <div class="pad col-md-10 col-lg-10"> -->
            <router-outlet></router-outlet>
        <!-- </div>
    </div> -->
<!-- </div> -->

<!-- <div *ngIf="loginPage">
    <app-login></app-login>
</div> -->
<!-- <router-outlet></router-outlet> -->